textarea.code {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 8px 8px 0 0;
	border: none;
	box-shadow: none;
	min-height: 250px;
	height: 550px;
	resize: none;
}

textarea.code:focus {
	box-shadow: none;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
}

textarea.code::placeholder {
	color: rgb(160, 160, 160);
	opacity: 1;
}

.btn-top {
	color: gray;
	width: 20;
	height: 20;
	border: none;
	overflow: hidden;

}

.btn-top:hover {
	color: white;
	width: 24;
	height: 24;
	border: none;
}

.btn-top:focus {

	width: 24;
	height: 24;
	border: none;
}

.btn-top:active {
	color: white;
}

.btn-clipboard {
	color: var(--bs-body-color);
	background-color: var(--bd-pre-bg);
	border: 0;
	margin: 0;
	padding: 0;
}

.btn-clipboard {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

.btn-new {
	background-color: rgba(255, 255, 255, 0.15);
	padding: 0.5rem 1rem;
	border-radius: 0 0 5px 5px;
	border: none;
	box-shadow: none;
	height: 40px;
	width: 100%;
	color: white;
	transition: all 0.3s ease;
}

.btn-new:hover {
	box-shadow: none;
	color: white;
	background-color: rgba(255, 255, 255, 0.4);
}

.btn-new-success {
	background-color: rgba(50, 240, 50, 0.2);
	transition: all 0.3s ease;
}

.result-box {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 0 0 5px 5px;
	border: none;
	box-shadow: none;
	height: 56px;
}

.copy-btn-area {
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	box-shadow: none;
	height: 56px;
	width: 56px;
}

.result-area {
	height: 100%;
	width: 56px;
}

.content-container {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}


.cm-s-esstx.CodeMirror {
	font-family: 'JetBrainsMonoNL-Regular', monospace;
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 8px 8px 0 0;
	border: none;
	box-shadow: none;
	min-height: 250px;
	height: 550px;
	resize: none;
}

.cm-s-esstx .CodeMirror-vscrollbar::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.1);
}

.cm-s-esstx .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:vertical {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.3);
}

.cm-s-esstx .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:vertical:hover {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.5);
}

.cm-s-esstx .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:vertical:active {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.7);
}

.cm-s-esstx .CodeMirror-hscrollbar::-webkit-scrollbar {
	height: 8px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.1);
}

.cm-s-esstx .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:horizontal {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.3);
}

.cm-s-esstx .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:horizontal:hover {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.5);
}

.cm-s-esstx .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:horizontal:active {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.7);
}

.cm-s-esstx .CodeMirror-gutter-filler,
.cm-s-esstx .CodeMirror-scrollbar-filler {
	display: none;
}

.cm-s-esstx .CodeMirror-scrollbar-filler {
	display: none;
}

.cm-s-esstx .CodeMirror-gutter-filler {
	display: none;
}

.cm-s-esstx .CodeMirror-gutters {
	font-family: 'JetBrainsMonoNL-Regular', monospace;
	background: transparent;
	color: #546e7a;
	border: none
}

.cm-s-esstx .CodeMirror-guttermarker,
.cm-s-esstx .CodeMirror-guttermarker-subtle,
.cm-s-esstx .CodeMirror-linenumber {
	color: #546e7a
}

.cm-s-esstx .CodeMirror-cursor {
	border-left: 1px solid #fc0
}

.cm-s-esstx.cm-fat-cursor .CodeMirror-cursor {
	background-color: #5d6d5c80 !important
}

.cm-s-esstx .cm-animate-fat-cursor {
	background-color: #5d6d5c80 !important
}

.cm-s-esstx div.CodeMirror-selected {
	background: rgba(128, 203, 196, .2)
}

.cm-s-esstx.CodeMirror-focused div.CodeMirror-selected {
	background: rgba(128, 203, 196, .2)
}

.cm-s-esstx .CodeMirror-line::selection,
.cm-s-esstx .CodeMirror-line>span::selection,
.cm-s-esstx .CodeMirror-line>span>span::selection {
	background: rgba(128, 203, 196, .2)
}

.cm-s-esstx .CodeMirror-line::-moz-selection,
.cm-s-esstx .CodeMirror-line>span::-moz-selection,
.cm-s-esstx .CodeMirror-line>span>span::-moz-selection {
	background: rgba(128, 203, 196, .2)
}

.cm-s-esstx .CodeMirror-activeline-background {
	background: rgba(0, 0, 0, .5)
}

.cm-s-esstx .cm-keyword {
	color: #c792ea
}

.cm-s-esstx .cm-operator {
	color: #89ddff
}

.cm-s-esstx .cm-variable-2 {
	color: #eff
}

.cm-s-esstx .cm-type,
.cm-s-esstx .cm-variable-3 {
	color: #f07178
}

.cm-s-esstx .cm-builtin {
	color: #ffcb6b
}

.cm-s-esstx .cm-atom {
	color: #f78c6c
}

.cm-s-esstx .cm-number {
	color: #ff5370
}

.cm-s-esstx .cm-def {
	color: #82aaff
}

.cm-s-esstx .cm-string {
	color: #c3e88d
}

.cm-s-esstx .cm-string-2 {
	color: #f07178
}

.cm-s-esstx .cm-comment {
	color: #546e7a
}

.cm-s-esstx .cm-variable {
	color: #f07178
}

.cm-s-esstx .cm-tag {
	color: #ff5370
}

.cm-s-esstx .cm-meta {
	color: #ffcb6b
}

.cm-s-esstx .cm-attribute {
	color: #c792ea
}

.cm-s-esstx .cm-property {
	color: #c792ea
}

.cm-s-esstx .cm-qualifier {
	color: #decb6b
}

.cm-s-esstx .cm-type,
.cm-s-esstx .cm-variable-3 {
	color: #decb6b
}

.cm-s-esstx .cm-error {
	color: #fff;
	background-color: #ff5370
}

.cm-s-esstx .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: #fff !important
}